  <div class="educ-container">
    <div class="educ">
      <h3 class="titular">Formación académica</h3>
      <div class="btn-edit" onclick="cambiar_parrafo()"> 

        <div class="icons_container">
          <img src="../assets/img/logoAdd1.svg" alt="Agregar">
          <img src="../assets/img/logoEdit1.svg" alt="Editar">
          <img src="../assets/img/logoDel1.svg" alt="Eliminar">
      </div>

      <div class="logos">
        <img src="../assets/img/logoUTN.svg" width="10%" height="10%" alt="UTN FRC">
      </div>

      <div class="txt_container"> 
        <p class="txt-tit">Universidad Tecnológica Nacional Facultad Regional Córdoba.</p>
        <p>Técnico universitario en programación.</p>
        <p>2017 2019</p>
      </div>  

      <div class="icons_container">
         <img src="../assets/img/logoAdd1.svg" alt="Agregar">
        <img src="../assets/img/logoEdit1.svg" alt="Editar">
        <img src="../assets/img/logoDel1.svg" alt="Eliminar">
      </div>

      <div class="logos">
        <img src="../assets/img/logoCNM2.png" width="10%" height="10%" alt="Colegio Nacional de Monserrat">
      </div>

      <div class="txt_container"> 
        <p class="txt-tit">Colegio Nacional de Monserrat.</p>
        <p>Dibujante especialista en dibujo técnico, artístico y publicitario.</p>
        <p>1995 1996</p>
      </div>  

      <div class="icons_container">
        <img src="../assets/img/logoAdd1.svg" alt="Agregar">
        <img src="../assets/img/logoEdit1.svg" alt="Editar">
        <img src="../assets/img/logoDel1.svg" alt="Eliminar">
      </div>

      <div class="logos">
        <img src="../assets/img/logoIP.svg" width="10%" height="10%" alt="Institución Preceptor">
      </div>

      <div class="txt_container"> 
        <p class="txt-tit">Institución Preceptor.</p>
        <p>Diseñador gráfico.</p>
        <p>1990 1991</p>
      </div>
  
      <h3 class="titular">Estudios cursados</h3>
        <div class="btn-edit" onclick="cambiar_parrafo()">      
          <div class="icons_container">
            <img src="../assets/img/logoAdd1.svg" alt="Agregar">
            <img src="../assets/img/logoEdit1.svg" alt="Editar">
            <img src="../assets/img/logoDel1.svg" alt="Eliminar">          
          </div>
          <div class="logos">
            <img src="../assets/img/logoUTN.svg"  width="10%" height="10%" alt="UTN FRT">
          </div> 

          <div class="txt_container">      
            <p class="txt-tit">Universidad Tecnológica Nacional Facultad Regional Tucumán.</p>
            <p>Curso de Arduino</p>
            <p>2022</p>  
          </div>  

           <div class="icons_container">
            <img src="../assets/img/logoAdd1.svg" alt="Agregar">
            <img src="../assets/img/logoEdit1.svg" alt="Editar">
            <img src="../assets/img/logoDel1.svg" alt="Eliminar">
          </div>
          <div class="logos">
            <img src="../assets/img/logoAP.svg"  width="10%" height="10%" alt="Argentina Programa">
          </div>

          <div class="txt_container"> 
            <p class="txt-tit">Argentina Programa.</p>
            <p>Curso #YoProgramo.</p>
            <p>Curso English for software developer.</p>
            <p>2022</p>
          </div>
          <div class="icons_container">
            <img src="../assets/img/logoAdd1.svg" alt="Agregar">
            <img src="../assets/img/logoEdit1.svg" alt="Editar">
            <img src="../assets/img/logoDel1.svg" alt="Eliminar">
          </div>
          <div class="logos">
            <img src="../assets/img/logoConoSur.svg"  width="10%" height="10%" alt="ConoSur Tech">
          </div>
           <div class="txt_container"> 
            <p class="txt-tit">ConoSur Tech.</p>
            <p>Curso #YoQuieroProgramar.</p>
            <p>2021 2022</p>
          </div>   
    
          <div class="icons_container">
            <img src="../assets/img/logoAdd1.svg" alt="Agregar">
            <img src="../assets/img/logoEdit1.svg" alt="Editar">
            <img src="../assets/img/logoDel1.svg" alt="Eliminar">
        </div>
        <div class="logos">
          <img src="../assets/img/logoDH.svg"  width="10%" height="10%" alt="Digital House">
        </div>
        <div class="txt_container"> 
          <p class="txt-tit">Digital House Coding House.</p>
          <p>Desarrollador web full stack.</p>
          <p>2019 2020</p>
        </div> 

          <div class="icons_container">
            <img src="../assets/img/logoAdd1.svg" alt="Agregar">
            <img src="../assets/img/logoEdit1.svg" alt="Editar">
            <img src="../assets/img/logoDel1.svg" alt="Eliminar">
        </div>
        <div class="logos">
          <img src="../assets/img/logoUTN.svg"  width="10%" height="10%" alt="UTN FRC">
        </div>
        <div class="txt_container"> 
          <p class="txt-tit">Universidad Tecnológica Nacional Facultad Regional Córdoba.</p>
          <p>Programa 111mil.</p>
          <p>2018</p>
        </div> 

          <div class="icons_container">
            <img src="../assets/img/logoAdd1.svg" alt="Agregar">
            <img src="../assets/img/logoEdit1.svg" alt="Editar">
            <img src="../assets/img/logoDel1.svg" alt="Eliminar">
        </div>
        <div class="logos">
          <img src="../assets/img/logoUPM2.png"  width="10%" height="10%" alt="Universidad Politécnica de Madrid">
        </div>

        <div class="txt_container"> 
          <p class="txt-tit">Universidad Politécnica de Madrid.</p>
          <p>Desarrollo en HTML5, CSS3, JavaScript de apps web, IOs y Android.</p>
          <p>2016</p>
        </div>  
          <div class="icons_container">
            <img src="../assets/img/logoAdd1.svg" alt="Agregar">
            <img src="../assets/img/logoEdit1.svg" alt="Editar">
            <img src="../assets/img/logoDel1.svg" alt="Eliminar">
        </div>
        <div class="logos">
          <img src="../assets/img/logoCem.svg"  width="10%" height="10%" alt="Cem English">
        </div>

        <div class="txt_container"> 
          <p class="txt-tit">CEM English.</p>
          <p>Curso de inglés. Curso de portugués.</p>
          <p>2014 2015</p>          
        </div>

          <div class="icons_container">
            <img src="../assets/img/logoAdd1.svg" alt="Agregar">
            <img src="../assets/img/logoEdit1.svg" alt="Editar">
            <img src="../assets/img/logoDel1.svg" alt="Eliminar">
        </div>
        <div class="logos">
          <img src="../assets/img/logoCodesis.svg"  width="10%" height="10%" alt="Codesis Ltda">
        </div>
        <div class="txt_container"> 
          <p class="txt-tit">Editorial Codesis Ltda.</p>
          <p>Técnico en diseño gráfico y programación web.</p>
          <p>2003</p>
        </div>

          <div class="icons_container">
            <img src="../assets/img/logoAdd1.svg" alt="Agregar">
            <img src="../assets/img/logoEdit1.svg" alt="Editar">
            <img src="../assets/img/logoDel1.svg" alt="Eliminar">
        </div>
        <div class="logos">
          <img src="../assets/img/logoLTC.svg"  width="10%" height="10%" alt="Least Time Course">
        </div>

        <div class="txt_container"> 
          <p class="txt-tit">Least Time Course.</p>
          <p>Programación BASIC.</p>
          <p>1986</p>
        </div>

          <div class="icons_container">
            <img src="../assets/img/logoAdd1.svg" alt="Agregar">
            <img src="../assets/img/logoEdit1.svg" alt="Editar">
            <img src="../assets/img/logoDel1.svg" alt="Eliminar">
        </div>
        <div class="logos">
          <img src="../assets/img/logoSDA.svg" width="10%" height="10%"  alt="Societá Dante Alighieri">
        </div>
        <div class="txt_container"> 
          <p class="txt-tit">Societá Dante Alighieri.</p>
          <p>Corso di lengua e cultura italiana.</p>
          <p>1980 1985</p>
        </div>
    </div>
  </div>