<div class="container"> 
<div class="header fixed_top">
    <div class="logos_izq_container">
      <div class="logos_izq">
        <a href="http://www.argentina.gob.ar"><picture class="logos_izq"><img class="logotipo_izq1" src="./assets/img/logoAP.png"  alt="Argentina Programa"></picture></a>
      <!--  <a href="http://"><picture class="logos_izq"><img class="logotipo_izq2" src="./assets/img/Sin.png"  alt="INTI"></picture></a>
        <a href="http://"><picture class="logos_izq"><img class="logotipo_izq3" src="./assets/img/logoMDP.png" alt="Ministerio de Desarrollo Productivo"></picture></a> -->								
      </div>
      </div>
    <div class="logos_der_container">
      <div class="logos_der">
          <a href="http://"><picture class="logos_der"><img class="logotipo_der" src="./assets/img/logoWApp.svg" alt="Whatsapp"></picture></a>
          <a href="http://"><picture class="logos_der"><img class="logotipo_der" src="./assets/img/logoGithub.svg" alt="Github"></picture></a>
          <a href="http://"><picture class="logos_der"><img class="logotipo_der" src="./assets/img/logoLinkedIn.svg" alt="LinkedIn"></picture></a>
          <a href="http://"><picture class="logos_der"><img class="logotipo_der" src="./assets/img/logoGmail.svg" alt="Gmail"></picture></a>				
    </div>
  </div>

  <button type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="btn_login btn-success">Login</button>	
   <!-- <div class="fondo">
      <img [src]="miPortfolio.backImage" width="100%" height="232px" alt="imagen fondo">
    </div>
    <div class="foto">
      <img [src]="miPortfolio.image" width="200px" alt="Manuel Sadosky">
    </div>

    <div class="mns">
      <h2 id="ms">{{miPortfolio.name}}</h2>
      <p id="txt">{{miPortfolio.position}}.</p>
      <p id="txt2">{{miPortfolio.ubication}}.<a href="#">{{miPortfolio.contact}}</a></p>
    </div>

    <div class="logoConicet">
      <img [src]="miPortfolio.imag" width="5%" height="5%" alt="Logotipo Conicet" style="margin: 10px;">
      <div class="conicet">
      <a href="miPortfolio.ul">{{miPortfolio.company}}</a>
      </div>
    </div>

    <div class="logoUBA">
      <img [src]="miPortfolio.img" width="5%" height="5%" alt="Logotipo UBA" style="margin: 10px;">
      <div class="uba">
      <a href="miPortfolio.url"><p>Universidad de Buenos Aires</p></a>
      </div>
    </div>-->

    <!--<div class="botones">
      <button class="btn btn-info" style="margin: 10px;">Tengo interés en</button>
      <button class="btn btn-info" style="margin: 10px;">Añadir sección</button>
      <button class="btn btn-info" style="margin: 10px;">Más</button>
    </div>-->
    
    
  </div>
</div>