<div class="proy-container">
  <div class="proyectos">
    <h3 class="titular">Proyectos</h3>
    <div class="btn-edit" onclick="cambiar_parrafo()">
      <div class="icons_container">
        <img src="../assets/img/logoAdd1.svg" alt="Agregar">
        <img src="../assets/img/logoEdit1.svg" alt="Editar">
        <img src="../assets/img/logoDel1.svg" alt="Eliminar">
    </div>
      
      <!--  <h3><a href=""> e-Farmacia</a></h3>
      <p>Desarrollo de un sitio web de comercio electrónico front end basado en Angular de alto tráfico. Con
        diseño innovador basado en UX / UI.<br>Totalmente integrado con los sistemas CMR y ERP.</p>
      <h3><a href="">Sistema de monitoreo</a></h3>
      <p>Desarrollo back end basado en API Rest con la tecnología Spring Boot para proveer datos de monitoreo a
        aplicaciones distribuídas con su desarrollo de interfaces<br>entre sistemas de gestión para la
        automatización de los procesos.</p> -->

        <div class="logos">
          <img src="../assets/img/logoShoppingList.svg" width="20%" height="20%" alt="Shopping List">
        </div>        
        <p class="subt">Shopping List</p>
        <p class="txts"><b>Descripción:</b> CRUD de un listado de mercancías realizado en Angular con un arreglo en TypeScript con doble enlace de datos, para su edición a partir del momento de la compra de cada producto hasta la posterior eliminación de los items que componen la lista.</p>
        <p class="txts"><b>Fecha de realización:</b> Febrero 2022.</p>        
        <div class="icons_container">
          <img src="../assets/img/logoAdd1.svg" alt="Agregar">
          <img src="../assets/img/logoEdit1.svg" alt="Editar">
          <img src="../assets/img/logoDel1.svg" alt="Eliminar">
      </div>

      <div class="logos">
        <img src="../assets/img/logoPokePark.svg" width="20%" height="20%" alt="Poké API">
      </div>  
        <p class="subt">Poké Park</p>
        <p class="txts"><b>Descripción:</b> En esta aplicación se consulta una API libre bastante conocida por miles de personas interesadas en aprender programación web, la PokéApi. Es una API JSON, que la hace más cómoda de manejar debido a que JSON <br> es un formato ligero de intercambio de datos de JavaScript.</p>
        <p class="txts"><b>Fecha de realización:</b> Marzo 2022.</p>          
        <div class="icons_container">
          <img src="../assets/img/logoAdd1.svg" alt="Agregar">
          <img src="../assets/img/logoEdit1.svg" alt="Editar">
          <img src="../assets/img/logoDel1.svg" alt="Eliminar">
      </div>

      <div class="logos">
        <img src="../assets/img/logoMiPortfolio.png"  width="20%" height="20%" alt="Mi Portfolio">
      </div>
        <p class="subt">Mi Portfolio</p>
        <p class="txts"><b>Descripción:</b> Portfolio personal desarrollado en arquitectura distribuída según el patrón de diseño de software Modelo Vista Controlador, con diseño de interfaz front end realizado con HTML5, CSS3, Bootstrap 5, JavaScript y Angular,<br> con MySQL como gestor de la base de datos integrada al desarrollo back end con Java y Spring Boot.</p>
        <p class="txts"><b>Fecha de realización:</b> Mayo 2022.</p>
    </div>
  </div>
<div>
