
<div class="hys-container">  
  <h3 class="titular">Habilidades duras</h3>
    <div class="btn-edit" onclick="cambiar_parrafo()">
      <div class="icons_container">
        <img src="../assets/img/logoAdd1.svg" alt="Agregar">
        <img src="../assets/img/logoEdit1.svg" alt="Editar">
        <img src="../assets/img/logoDel1.svg" alt="Eliminar">
      </div>
    </div>
  
    <div class="circlesD_container">
							<div class="circle_container">
								<div class="circular">
									<div class="inner"></div>
										<div class="number">95%</div>
											<div class="circle">
												<div class="bar left1">
													<div class="progress"></div>
												</div>
												<div class="bar right1">
													<div class="progress"></div>
												</div>
											</div>
								</div>	
								
								<div class="circular">
									<div class="inner"></div>
										<div class="number">80%</div>
											<div class="circle">
												<div class="bar left2">
													<div class="progress"></div>
												</div>
												<div class="bar right2">
													<div class="progress"></div>
												</div>
											</div>	
								</div>	
								
								<div class="circular">
									<div class="inner"></div>
										<div class="number">85%</div>
											<div class="circle"> 
												<div class="bar left3">
													<div class="progress"></div>
												</div>
												<div class="bar right3">
													<div class="progress"></div>
												</div>
											</div>
								</div>							
							</div>
						</div>
						<div class="txts_container">
							<div class="txt1">Diseño gráfico</div>
							<div class="txt2">Maquetación responsive</div>
							<div class="txt3">Idiomas</div>
						</div>

            <h3 class="titular">Habilidades blanduras</h3>
    <div class="btn-edit" onclick="cambiar_parrafo()">
      <div class="icons_container">
        <img src="../assets/img/logoAdd1.svg" alt="Agregar">
        <img src="../assets/img/logoEdit1.svg" alt="Editar">
        <img src="../assets/img/logoDel1.svg" alt="Eliminar">
      </div>
    </div>
  
    <div class="circlesD_container">
							<div class="circle_container">
								<div class="circular">
									<div class="inner"></div>
										<div class="number">95%</div>
											<div class="circle">
												<div class="bar left1">
													<div class="progress"></div>
												</div>
												<div class="bar right1">
													<div class="progress"></div>
												</div>
											</div>
								</div>	
								
								<div class="circular">
									<div class="inner"></div>
										<div class="number">100%</div>
											<div class="circle">
												<div class="bar left2">
													<div class="progress"></div>
												</div>
												<div class="bar right2">
													<div class="progress"></div>
												</div>
											</div>	
								</div>	
								
								<div class="circular">
									<div class="inner"></div>
										<div class="number">90%</div>
											<div class="circle"> 
												<div class="bar left3">
													<div class="progress"></div>
												</div>
												<div class="bar right3">
													<div class="progress"></div>
												</div>
											</div>
								</div>							
							</div>
						</div>
						<div class="txts_container">
							<div class="txt4">Creatividad</div>
							<div class="txt5">Responsabilidad</div>
							<div class="txt6">Resolución de problemas</div>
						</div>

            
</div>