<div class="acerca-container"> 
    <div class="acerca">    
        <div class="btn-edit" onclick="cambiar_parrafo()">        
        </div>
        <div class="fotoPortada">
            <img src="../assets/img/fotos/portada.jpg" width="100%" height="100%" alt="Foto Portada">
        </div>
        <div class="fotoPerfil">
             <img src="../assets/img/fotos/perfil.png" alt="Foto Portada">
        </div> 
            
       
        <h3 class="fbn">Fabián Héctor López</h3>
        <div class="icons_container">
            <img src="../assets/img/logoAdd1.svg" alt="Agregar">
            <img src="../assets/img/logoEdit1.svg" alt="Editar">
            <img src="../assets/img/logoDel1.svg" alt="Eliminar">
        </div>
        <p class="titulos"> Desarrollador web full stack Jr.<br>           
            Técnico universitario en programación.<br>
            Dibujante especialista en dibujo técnico, artístico y publicitario.<br>
            Diseñador gráfico.<br>
            Córdoba.<br>
            Argentina.<br>            
        </p>
        <p class="objetivo">“Mi objetivo profesional es trabajar en proyectos creativos en un equipo al que aporte mis ideas<br> y a la vez, me posibilite avanzar en mi aprendizaje.”</p>
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
    </div>
</div>
